In [1]:
#Tubles 
#Sets
# Dictionary
# Problems

In [2]:
#Tubles 
#Create
#Access
#Edit
#Add
#Delete
#Operation
#Functions

In [3]:
#Create
T1=()
T1

()

In [4]:
T3=("Hello",4,5,6)
T3

('Hello', 4, 5, 6)

In [5]:
#Single item tuple
T4=(4,)
type(T4)

tuple

In [6]:
T6=tuple([1,2,3,4,5])
T6

(1, 2, 3, 4, 5)

In [8]:
#Access
T2=(1,2,3,4,5)
T2[0]
#Tuble does not support editing i.e are immutable
#So not any new element in tuple

1

In [9]:
#Delete
T2=(1,2,3,4,5)
del T2[-1]

TypeError: 'tuple' object doesn't support item deletion

In [10]:
#Operation
#-->add two tuple(T1+T2)
#Functions
T2=(1,2,3,4,5)
len(T2)

5

In [ ]:
#Tuples are read-only data type